@using System.Data;
@using System.Collections.Generic;
@using System.Data.SqlClient;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    SqlConnection con = new SqlConnection("Data Source=DESKTOP-KFAV4Q6\\SQLEXPRESS;Initial Catalog=RTS;Integrated Security=True");
    con.Open();
    SqlCommand cmd = new SqlCommand("Select * from Booking", con);
    SqlDataAdapter adaptor = new SqlDataAdapter(cmd);
    DataSet data = new DataSet();
    adaptor.Fill(data);
    DataTable table;
    table = data.Tables[0];
    cmd.ExecuteNonQuery();
    con.Close();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/webPages/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/webPages/css/ManageStations.css">
    <title>Passenger Record</title>

</head>
<body class="body1">
    <div class="first">
        <h1 class="heading">BOOK YOUR TRAIN</h1>
    </div>
    <div class="second">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/index">Home</a>
                    </li>
                    <li class="nav-item active" style="text-align: right;">
                        <a class="nav-link" href="/Home/UserLogin">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/AboutUs">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br><br><br>
    <div class="text-center">
        <h1>Manage Passenger Record</h1><hr>
    </div><br><br>
    <form>
        @*<div class="form-group row">
            <label for="label1" class="col-sm-3 col-form-label" style="font-size: larger; margin:0px 180px 0px 90px"><b>Name</b></label>
            <label for="label2" class="col-sm-3 col-form-label" style="font-size: larger; margin: 0px 10px 0px -330px;"><b>Email</b></label>
            <label for="label3" class="col-sm-3 col-form-label" style="font-size: larger; margin: 0px 10px 0px -175px;"><b>Contact</b></label>
            <label for="label4" class="col-sm-3 col-form-label" style="font-size: larger; margin: 0px 10px 0px -180px;"><b>Train No.</b></label>
            <label for="label4" class="col-sm-3 col-form-label" style="font-size: larger; margin: 0px 10px 0px -170px;"><b>Ticket No.</b></label>
            <label for="label6" class="col-sm-3 col-form-label" style="font-size: larger; margin: 0px 0px 0px -145px;"><b>Price</b></label>
        </div>*@
        <table class="table table-striped" id="myTable" name="myTable">
            <thead>
                <tr class="container">
                    <th scope="col" style="text-align: center;">&nbsp; Booking No.</th>
                    <th scope="col" style="text-align: center;">&nbsp; Cnic</th>
                    <th scope="col" style="text-align: center;">&nbsp; Amount</th>
                    <th scope="col" style="text-align: center;">&nbsp; Booking Date</th>
                    <th scope="col" style="text-align: center;">&nbsp; Online Booking</th>
                    <th scope="col" style="text-align: center;">&nbsp; No of Passengers</th>
                    <th scope="col" style="text-align: center;">&nbsp; Train Schedule No.</th>
                    <th scope="col" style="text-align: center;">&nbsp; Booking Type</th>
                    <th scope="col" style="text-align: center;">&nbsp; Account Type</th>
                    <th scope="col" style="text-align: center;">&nbsp; Payment check No.</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < table.Rows.Count; i++)
                {
                <tr>
                    <td scope="row" style="text-align: center;">@table.Rows[i].ItemArray[0]</td>
                    <td style="text-align: center;">@table.Rows[i].ItemArray[1]</td>
                    <td style="text-align: center;">@table.Rows[i].ItemArray[2]</td>
                    <td style="text-align: center;">@table.Rows[i].ItemArray[3]</td>
                    <td style="text-align: center;">@table.Rows[i].ItemArray[4]</td>
                    <td style="text-align: center;">@table.Rows[i].ItemArray[5]</td>
                    <td style="text-align: center;">@table.Rows[i].ItemArray[6]</td>
                    <td style="text-align: center;">@table.Rows[i].ItemArray[7]</td>
                    <td style="text-align: center;">@table.Rows[i].ItemArray[8]</td>
                    <td style="text-align: center;">@table.Rows[i].ItemArray[9]</td>
                    <td>
                        <a href="" onclick="return confirm('Do you want to delete?')">
                            <form method="POST" action="/Admin/PassengerRecord">
                                <input type="hidden" name="t_no" value="@table.Rows[i].ItemArray[0]" />
                                <button type="submit" name="thisButton" value="Delete1" style="width:100%">Delete</button>
                            </form>
                        </a>
                    </td>
                    <td>
                        <a href="">
                            <form name="" action="" method="GET">
                                <input type="hidden" name="" value="@table.Rows[i].ItemArray[0]" />
                                <button type="submit" name="thisButton" value="Update1" style="width:100%" onclick="return Edit(@i+1, event)">Update</button>
                            </form>

                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </form>
    <hr>
    <br>

    <br><br>
    <div class="text-center">
        <button type="submit" class="btn btn-block" style="background-color: darkgreen; color: #ffffff; width: 30%; margin: auto;">Save Data</button><br>
    </div><br>
    <hr><br>
    <div class="rightButton">
        <button type="submit" class="btn btn-lg" style="background-color: darkgreen; color: #ffffff;"><a href="/Admin/AfterAdminLogin" style="color: white;">Back</a></button><br>
    </div>
    </div>
    <div class="form-group">
        <label for="exampleInputArrival"></label>
        <input type="hidden" name="email" class="form-control" id="exampleInputArrival" value="@ViewData["emaill"]">
    </div><br><br><br>

    <script src="~/webPages/js/jquery.js"></script>
    <script src="~/webPages/js/bootstrap.min.js"></script>
</body>
</html>